@charset "UTF-8" ;

@media screen and (min-width: 768px) and (max-width: 992px) {
    
        section#login {
        width: 80vw;
    }
     section#login > div#imagen-login {
        float: left;
        width: 30%;
        height: 100%;
     
       
       
    }
     section#login > div#formulario{
        float: top;
        width: 70%;


        
       
      
    }
    

    
}
@media screen and (min-width: 992px) {
    
}