@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*
paletas de cores
azul claro: #0597F2
azul medio: #03588C
azul escuro: #012840
*/

/*configuraçoes gerais*/

* { 
    
    margin: 0px;
    padding: 0px;
}

body, html {
    font-family: "Poppins", Arial, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: rgb(0, 0, 0);
    background-color: #012840;
    height: 100vh;
    width: 100vw;  
}

/*main*/

main {
    height: 100vh;
    width: 100vw;
    position: relative;
}

main h1 {
    text-align: center;
}

main p {
    font-size: 0.8em;
}

/*sections*/

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #ffffff ;
    border-radius: 20px;
    display: block;
    width: 250px;
   
    height: 545px;
    overflow: hidden;   
   
    transition: width 0.2s, height 0.2s;
    transition-timing-function: ease;
    box-shadow: 0px 0px 10px #0114217a
}


section#login > div#imagen {
    display: block;
    background:#0597F2 url(../imagens/fotopexels-fundo.jpg) no-repeat;
    background-position: center center;
    height: 200px;
    background-size: cover;
} 

section#login > div#formulario {
    display: block;
    padding: 10px;

}


/*div*/

div.entrada {
    background-color: #03588C;
    margin: 10px 0px ;
    margin-left: -2px;
    padding: 8px;
    border-radius: 5px;
    width: 95%;
    
}

div.entrada > span{
    color: white;
}

div.entrada > label {
    display: none;
}

/*botao de enviar */

form > input[type=submit] {
    display: block;
    background-color:#0597F2 ;
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    border: white;
    border-radius: 5px;
    color: white;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 1em;
}

form > input[type=submit]:hover {
    background-color: #03588C;
}

/*esqueci a senha */

form > div.esqueci {
    background-color: #0597F2;
    padding: 5px;
    border-radius: 5px;
    text-align: center;

}
form > div.esqueci > a {
    text-decoration: none;
    color: white;
}
form > div.esqueci:hover {
    background-color: #03588C;
}




